extends conta-layout

block conta
    .col.p-1.p-md-4
        h3 Meus favoritos:
        hr
        if favorites
            ul.list-group
                each product in favorites.products
                    li.list-group-item.d-flex.align-items-center.justify-content-between
                        .col-10
                            a(href=product.url class="stretched-link")
                            img(src=product.image_path.toLowerCase() alt=product.name width="20")
                            span.pl-2= product.name
                        .col-2
                            a(href=`/favoritos/remover-dos-favoritos/${product.id}` class="btn btn-danger btn-sm") Excluir
        else
            .row.row-cols-1
                .col.d-flex.justify-content-center.pb-3
                    img(src="/images/svg/empty_cart.svg", alt="Nenhum item no carrinho" width="280px" class="img-responsive")
                .col
                    p.text-center Você ainda não tem nenhum item na lista de desejos. Bora incluir alguns itens?