extends conta-layout

block header
block conta
    .col.p-1.p-md-4
        h3 Perfil de #{user.usuario}:
        hr
        h4 Login:
        small.text-muted Estas são suas informações de autenticação.
        br
        ul.list-group.list-group-flush
            li.list-group-item ID: 
                span.text-muted #{user.id}
            li.list-group-item ID da sessão atual: 
                span.text-muted #{session.id}
            li.list-group-item Nome de usuário: 
                span.text-muted #{user.usuario}
            li.list-group-item E-mail: 
                span.text-muted #{user.email}
        br
        h4 Dados pessoais:
        small.text-muted Estes são os seus dados salvos no site. Não se preocupe, eles estão seguros. Leia nossas 
            a(href="#") Políticas de Privacidade.
        br
        ul.list-group.list-group-flush
            li.list-group-item Nome completo: 
                span.text-muted #{user.nome_completo}
            li.list-group-item Telefone: 
                span.text-muted #{user.telefone}
            li.list-group-item CPF: 
                span.text-muted #{user.cpf}
            li.list-group-item CEP: 
                span.text-muted #{user.cep}
            li.list-group-item Endereço: 
                span.text-muted #{user.logradouro}
            li.list-group-item Complemento: 
                span.text-muted #{user.complemento}
            li.list-group-item Bairro: 
                span.text-muted #{user.bairro}
            li.list-group-item Cidade: 
                span.text-muted #{user.localidade}
            li.list-group-item Estado/UF: 
                span.text-muted #{user.uf}
            li.list-group-item Unidade: 
                span.text-muted #{user.unidade}
            li.list-group-item Cartão salvo: 
                span.text-muted #{user.cartao}