extends layout

block content
    .container.bg-white.border.rounded.shadow-sm
        .row.product-details.text-right
            .col-.col-sm-5.product-image
                img(src=product.image_path, class="img-responsive", alt=product.name, width="100%")
            .col-.col-sm-7.product-card
                h1= product.name
                span.text-muted (Cód. #{product.id})
                hr
                p De: R$ 
                    strike #{(product.price_cents / 100).toFixed(2).replace('.',',')} 
                    span.text-success (#{product.discount}% de desconto) 
                |Por Apenas:
                h2: strong R$ #{(Math.round(product.price * 100) / 100).toFixed(2).toString().replace('.',',')}
                |Ou até
                h3 12x de #{(Math.round(product.price * 100) / 1200).toFixed(2).toString().replace('.',',')} sem juros
                hr
                
                .row.row-cols-1.row-cols-lg-2
                    .col.favorito-btn
                        if favorites
                            if product.id in favorites.products
                                a(class="btn btn-outline-success btn-block disabled" disabled="true") Adicionado à lista de desejos
                            else
                                a(href=`/favoritos/adicionar-aos-favoritos/${product.id}` class="btn btn-success btn-block") Adicionar à lista de desejos
                        else
                            a(href=`/favoritos/adicionar-aos-favoritos/${product.id}` class="btn btn-outline-success btn-block") Adicionar à lista de desejos
                    .col.carrinho-btn
                        if cart
                            if product.id in cart.products
                                a(href=`/carrinho/adicionar-ao-carrinho/${product.id}` class="btn btn-success btn-block") Adicionar mais ao carrinho
                            else
                                a(href=`/carrinho/adicionar-ao-carrinho/${product.id}` class="btn btn-success btn-block") Adicionar ao carrinho
                        else
                            a(href=`/carrinho/adicionar-ao-carrinho/${product.id}` class="btn btn-success btn-block") Adicionar ao carrinho
        .row.product-details
            h4.description Descrição do produto:
            .col-12
                ul.list-group
                    li.list-group-item 
                        strong Modelo: 
                        span= product.name
                    li.list-group-item 
                        strong Fabricante: 
                        span= product.manufacturer.name
                    li.list-group-item 
                        strong Sistema Operacional: 
                        span= product.os
                    li.list-group-item 
                        strong Cor: 
                        span= product.color
                    li.list-group-item 
                        strong Tamanho do Display: 
                        span= product.displaySize
                    li.list-group-item 
                        strong Processador: 
                        span= product.cpu
                    li.list-group-item 
                        strong Memória RAM: 
                        span= product.ram