extends layout

block content
	.container
		.row.products
			if products
				each product in products
					.col-md.product.card
						a(href=product.url class="stretched-link")
						span.percentage-off 20% OFF
						img(src=product.image_path class="card-img-top" alt="...")
						.card-body
							h5.card-title= product.name
							p.card-text Por Apenas 
								strike.text-muted R$ #{(Math.round((product.price / 0.8) * 100) / 100).toFixed(2)}
							h3(class="text-success text-center price-tag") R$ #{product.price}
							
	