extends layout

block content
    h1 Perfil de #{user.usuario}:
    ul
        li
            strong ID: #{user.id}
        li
            strong E-mail: #{user.email}
        li
            strong Administrador: #{user.isAdmin}
        li
            strong Senha encriptada: #{user.senha}
        li
            strong Último login: #{user.ultimo_login}
        li
            strong Última modificação: #{user.updatedAt}